<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com"></context:component-scan>

    <bean id="StudentService" class="com.Service.StudentService"/>
    <bean id="BookService" class="com.Service.BookService"/>


<!--    <bean id="logger" class="com.Aop.Advice"/>-->
<!--    <aop:config>-->
<!--        <aop:aspect id="loggerbefor" ref="logger">-->
<!--            <aop:pointcut id="logpointcut" expression="execution(* com.Dao.BookDao.*(..))"/>-->
<!--            <aop:before method="BeforeLog" pointcut-ref="logpointcut"/>-->
<!--            <aop:after method="AfterAdvice" pointcut-ref="logpointcut"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

<!--    <bean id="Log" class="com.Aop.Log"/>-->
<!--    <aop:config>-->
<!--        <aop:aspect id="LogAspect" ref="Log">-->
<!--            <aop:pointcut id="LogPc" expression="execution(* com.Dao.BookDao.*(..))"/>-->
<!--            <aop:before method="BeforeLog" pointcut-ref="LogPc"/>-->
<!--            <aop:after method="AfterLog" pointcut-ref="LogPc"/>-->
<!--            <aop:after-returning method="ReturnLog" pointcut-ref="LogPc"/>-->
<!--            <aop:after-throwing method="ThrowLog" pointcut-ref="LogPc"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->
</beans>


